body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

.container {
    margin-top: 50px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 80%;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
}

.navbar button {
    background: none;
    color: white;
    font-size: 18px;
}

.navbar button:hover {
    text-decoration: underline;
}

/* Tema */
.light-mode {
    background: #ffffff;
    color: #000000;
}

.dark-mode {
    background: #1a1a1a;
    color: #ffffff;
}

.sepia-mode {
    background: #f5deb3;
    color: #5b4636;
}

.cozy-dark-mode {
    background: #2b2b2b;
    color: #c0c0c0;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modal-content {
    text-align: center;
}

.cozy-dark-mode {
    background: #2b2b2b;
    color: #c0c0c0;
}
